.forecastOfDay {
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  flex-wrap: wrap;
  margin: 1rem;
  border-radius: 20px;
  padding: 1rem;
  border: 4px solid #002b8e;
}
